<!DOCTYPE html>
<html>
	<head>
		<link type= "text/css" rel="stylesheet" href="/public/bootstrap.css"></link>
		<link rel="stylesheet" type="text/css" href="/public/main.css"></link>
		<title>Evento</title>
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-red" role="navigation">
		   <h3 style= "color:red; font-size: 70px; font-family: Garamound; text-align: center">#Friends</h3>
		</nav>
		<ul>
			<li><a href="/login">Inicio</a></li>
			<li><a href="/cuenta">Cuenta</a></li>
			<li><a href="/evento">Eventos</a></li>
			<li><a href="#">Apuntes</a></li>
		</ul>
		<div>
			<h3>Encuentro </h3>
			<h4>Lugar <input type="text" name="nombre" value=""></h4>
			<h4>Fecha <input type="date" name="fecha"></h4>
			<h4>Motivo <input type="text" name="nombre" value=""></h4>
			<h4>Gastos <input type="number" name="num" min="0" max="1000"></h4>
		</div>	
		<div>
			<h3>Encuentro </h3>
			<h4>Lugar <input type="text" name="nombre" value=""></h4>
			<h4>Fecha <input type="date" name="fecha"></h4>
			<h4>Motivo <input type="text" name="nombre" value=""></h4>
			<h4>Gastos <input type="number" name="num" min="0" max="1000"></h4>
		</div>	






	</body>
</html>